body {
    background: rgb(60, 60, 60);
    overflow-x: hidden;
}

.daohanglan {
    background: rgb(60, 60, 60);
    width: 100%;
    height: 10%;
    top: 0%;
    position: absolute;
    left: 0%;
    overflow: hidden;
    z-index: 114514;
}

.daohanglan-logo {
    width: auto;
    max-height: 90%;
    top: 10%;
    overflow: hidden;
    z-index: 114515;
    position: absolute;
}

.daohanglan-button1 {
    width: 10%;
    height: 100%;
    background: rgb(60, 60, 60);
    color: white;
    font-size: 1.2em;
    top: 0%;
    left: 25%;
    position: absolute;
    transition: background-color 0.5s ease;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
    z-index: 114515;
}

.daohanglan-button1:hover {
    background: rgb(75, 75, 75);
}

.daohanglan-button2 {
    width: 10%;
    height: 100%;
    background: rgb(60, 60, 60);
    color: white;
    font-size: 1.2em;
    top: 0%;
    left: 35%;
    position: absolute;
    transition: background-color 0.5s ease;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
    z-index: 114515;
}

.daohanglan-button2:hover {
    background: rgb(75, 75, 75);
}

.index-img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 60%;
    left: 50%;
    filter: blur(10px);
    transform: translate(-50%, -50%);
    margin: 0 auto;
    object-fit: cover;
}

.index-title {
    width: 100%;
    height: 10%;
    position: absolute;
    top: 40%;
    color: white;
    font-size: 10em;
    text-align: center;
    font-weight: bold;
    font-family: 'Minecraftcn';
}

@font-face {
    font-family: 'Minecraftcn';
    src: url(ttf/5_Minecraft_AE_支持中文.ttf);
}

@font-face {
    font-family: 'Minecraft';
    src: url(ttf/minecraft.ttf);
}

.typingtext {
    opacity: 1;
    animation: typeIn 0.5s steps(3) forwards;
    width: 100%;
    height: 10%;
    position: absolute;
    top: 55%;
    color: white;
    font-size: 10em;
    text-align: center;
    font-weight: bold;
    font-family: 'Minecraft';
}

.server-td {
    max-width: 60%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    /* 尝试将此值修改为合适的数值 */
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: white;
}


.server-td-1 {
    max-width: 20%;
    height: auto;
    position: absolute;
    left: 10%;
    background: rgb(60, 60, 60);
    transition: hover 0.5s ease;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

.server-td-1:hover {
    background: rgb(75, 75, 75);
}

.ceshi {
    top: 150%;
    left: 10%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 20%;
    height: auto;
    background: rgb(60, 60, 60);
    transition: hover 0.5s ease;
    border-radius: 10px;
    cursor: pointer;
}

.in-text {
    top: 60%;
    left: 50%;
    position: absolute;
    color: rgba(255, 255, 255, 0);
    font-size: 5em;
    transition: color 0.5s ease;
    font-family: 'Minecraftcn';
    /* text-align: center; */
    font-family: 'Minecraftcn';
}

.welcome-title {
    text-align: center;
}

.title {
    color: white;
    z-index: 114516;
    position: absolute;
    font-family: Minecraftcn;
    left: 200px;
    height: 0%;
    line-height: 0%;
}

.menu-text {
    position: absolute;
    height: 200%;
    line-height: 200%;
    font-size: Minecraftcn;
    right: 5%;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: azure;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

.laogexiv-block {
    position: absolute;
    right: 0%;
    top: 15%;
    width: 75%;
    height: 100%;
}

.laogexiv-img {
    width: 40%;
    height: auto;
    right: 0%;
    position: absolute;
}

.Server-block {
    top: 20%;
    position: absolute;
    text-align: center;
    left: 5%;
    font-family: Minecraftcn;
    color: white;
    width: 90%;
    height: 50%;
}

.Server-img {
    width: 50%;
    height: auto;
}

.Server-title {
    font-size: 200%;
}

.Server-title-IP {
    font-family: Minecraft;
    font-size: 200%;
    transition: 0.5s ease;
    color: white
}

.Server-title-IP:hover {
    color: rgb(125, 125, 125);
    /* 将鼠标样式转换为点击模式 */
    cursor: pointer;
}

.Server-text {
    font-family: Minecraftcn;
}

.Server-text-wf {
    font-family: Minecraftcn;
    font-size: 100%;
    color: white;
    transition: 0.5s ease;
}

.Server-text-wf:hover {
    color: rgb(125, 125, 125);
    /* 将鼠标样式转换为点击模式 */
    cursor: pointer;
}

.people-block {
    position: absolute;
    top: 175%;
    left: 5%;
    font-family: Minecraftcn;
    color: white;
    width: 90%;
    height: 100%;
}

.one_2e-block {
    position: absolute;
    left: 0%;
    top: 70%;
    width: 75%;
    height: 100%;
    text-align: right;
}

.one_2e-img {
    width: 40%;
    height: auto;
    left: 0%;
    position: absolute;
}

.laogexiv-tell {
    font-size: 100%;
    color: white;
    font-family: Minecraftcn;
    transition: 0.5s ease;
}

.laogexiv-tell:hover {
    color: rgb(125, 125, 125);
    /* 将鼠标样式转换为点击模式 */
    cursor: pointer;
}

.baipaiwu-block {
    position: absolute;
    right: 0%;
    top: 130%;
    width: 75%;
    height: 100%;
}

.baipaiwu-img {
    width: 40%;
    height: auto;
    right: 0%;
    position: absolute;
}

.game-block {
    position: absolute;
    top: 375%;
    left: 5%;
    font-family: Minecraftcn;
    color: white;
    width: 90%;
    height: 200%;
}

.game-title {
    font-size: 200%;
}

.survival-block {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 100%;
}

.survival-img {
    width: 75%;
    height: auto;
}

.game-l-title {
    font-size: 150%;
}

.slimefun-block {
    position: absolute;
    top: 80%;
    left: 5%;
    width: 90%;
    height: 100%;
}

.slimefun-img {
    width: 50%;
    height: auto;
}

.minigame-title {
    font-family: Minecraft;
    font-size: 150%;
}

.Minigame-block {
    position: absolute;
    top: 175%;
    left: 5%;
    width: 90%;
    height: 100%;
}

.Minigame-img {
    width: 75%;
    height: auto;
}

.pictureWall-block {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pictureWall-block img {
    transition: 0.5s ease;
}

.pictureWall-block img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.pictureWall-1 {
    width: 50%;
    height: auto;
    position: absolute;
    top: 0%;
    left: 0%
}

.pictureWall-2 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 0%;
    left: 50%;
}

.pictureWall-3 {
    width: 50%;
    height: auto;
    position: absolute;
    top: 100%;
    left: 0%;
}

.pictureWall-4 {
    width: 5%;
    height: auto;
    position: absolute;
    top: 0%;
    left: 60%;
}

.pictureWall-5 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 20%;
    left: 50%;
}

.pictureWall-6 {
    width: 5%;
    height: auto;
    position: absolute;
    top: 0%;
    left: 65%;
}

.pictureWall-7 {
    width: 48.5%;
    height: auto;
    position: absolute;
    top: 45%;
    left: 50%;
}

.pictureWall-8 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 10%;
    left: 60%;
}

.pictureWall-9 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 0%;
    left: 70%;
}

.pictureWall-10 {
    width: 48.5%;
    height: auto;
    position: absolute;
    top: 138%;
    left: 50%;
}

.pictureWall-11 {
    width: 5%;
    height: auto;
    position: absolute;
    top: 17.5%;
    left: 60%;
}

.pictureWall-12 {
    width: 10%;
    height: auto;
    position: absolute;
    top: 26.5%;
    left: 88.5%;
}

/* .pictureWall {
    width: 10%;
    height: ;
    object-fit: cover
} */
